code[data-theme*=" "] {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
}

[saved-theme="dark"] code[data-theme*=" "] {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

[saved-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
}
// 变量定义
$color-add-background: rgba(16, 185, 129, .14);
$color-add-before: #18794e;
$color-remove-background: rgba(244, 63, 94, .14);
$color-remove-before: #b34e52;
$highlight-background: #f6f6f7;
$highlight-border: #c2c2c4;
$warning-background: rgba(234, 179, 8, .14);
$blur-opacity: .4;
$focused-opacity: .7;
$hover-opacity: 1;
$blur-amount: .095rem;
$transition-duration: .35s;

pre.has-diff {
  .diff.add {
    background-color: $color-add-background;
    &::before {
      content: "+";
      color: $color-add-before;
    }
  }

  .diff.remove {
    background-color: $color-remove-background;
    opacity: .7;
    &::before {
      content: "-";
      color: $color-remove-before;
    }
  }
}

pre {
  .highlighted-word {
    background-color: $highlight-background;
    border: 1px solid $highlight-border;
    padding: 1px 3px;
    margin: -1px -3px;
    border-radius: 4px;
  }

  code {
    .highlighted.error {
      background-color: $color-remove-background;
    }

    .highlighted.warning {
      background-color: $warning-background;
    }
  }
}

pre.has-focused [data-line]:not(.focused) {
  filter: blur($blur-amount);
  opacity: $blur-opacity;
  transition: filter $transition-duration, opacity $transition-duration;
}

pre:hover.has-focused [data-line]:not(.focused) {
  filter: blur(0);
  opacity: $hover-opacity;
}
